* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-element {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.dark {
  background-image: url("https://st.depositphotos.com/7149512/58305/i/450/depositphotos_583055722-stock-photo-summer-ukrainian-thunderstorms-skies-storm.jpg");
  background-size: cover;
}

.light {
  background-image: url("https://www.cahoot.com/assets/s3fs-public/styles/d6_standard/public/dimages/federico-respini-syffw0lnr7s-unsplash_large.jpg?h=c66d06c9&itok=g8ydONGl");
  background-size: cover;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #B2BEB5;
  border-radius: 10px;
  height: 50vh;
  width: 60%
}
@media screen and (max-width: 767px) {
  .form-container {
    width: 90%;
  }
}
.search-container {
  height: 50px;
  width:75%;
  border-radius: 20px;
  margin-top: 20px;
  border: none;
  background-color: white;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .search-container {
    width: 90%;
  }
}
.search-input-box {
  border: none;
  width: 80%;
  height: 50px;
  outline: none;
  border-radius: 20px;
  background-color: none;
  margin-left: 20px;
  margin-right: 20px;
}

.icon-button-style {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.icon-style {
  font-size: 30px;
}

.no-input-error-message {
  color: red;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
  margin-right: 250px;
}